@font-face {
    font-family: merienda;
    src: url(../font/Merienda-Regular.ttf);
}
body{
    margin: 0;
    font-family: merienda;
    background-color: rgb(247, 244, 244);
}

main{
    max-width: 75%;
    margin: 30px auto;
    box-shadow: 0px 0px 20px rgb(221, 220, 220);
    background-color: white;
    border-radius: 15px;
}
img{
    width: 25%;
    border: #b5293b 5px solid;
    border-radius:50%;
    box-shadow: 0px 0px 20px rgb(221, 220, 220);
    animation: moveit 1.5s ease-in;
}
.tete{
    display: flex;
    margin: 25px;
    padding: 25px;
    box-sizing: border-box;
}

.titre{
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    color: #b5293b;
    width: 65%;
    margin-left: 50px;
    
}
h1{
    font-size: 2em;
}
h2{
    color: black;
}
#cv{
    display: flex;
    gap: 50px;
}
.left{
   vertical-align: top;   
   background-color: rgb(247, 244, 244);
   border-left: 50px solid #b5293b;
   padding: 15px;
   box-sizing: border-box;
   width: 43%;
}
.right{
    width: 55%;
    padding: 15px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
h3 {
    color: white;
    border: 3px solid #b5293b;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px; 
    background-color: #b5293b;
    text-align: center; 
}
ul li{
    padding: 10px;
}
i{
    font-size: 1.2em;
    color: #b5293b;
}
a{
    color: black;
}
a:hover{
    color: blue;
    text-decoration: underline;
} 
.hover:hover{
    
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #b5293b;
    transform: scale(1);
    transition: "transform 0.5s 0.5s";
    
}



/* -----------Animation ----------- */
.info,.langue,.interet,
.competence,.formation,.experience{
    padding: 15px;
    box-shadow: 0px 0px 20px rgb(221, 220, 220); 
    box-sizing: border-box;
}

@keyframes moveit {
    from {
      top: 100px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
/* ------responsive------- */
@media screen and (max-width: 900px)
{
    main {
        max-width: 100%;
        margin: auto;
        border: none;
    }
    .left{
        width: 100%;
    }
    
    .right{
        width: 100%;
    }
    #cv{
        flex-wrap: wrap;
    }
    h3{
        font-size: 0.8em;
    }
    i{
        font-size: 1em;
    }
    .tete{
        flex-wrap: wrap;
        margin: auto;
        
    }
    
    .titre{
        font-size: 0.8em;
        text-align: center;
        margin: auto;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
    }
    img{
        width: 55%;
        margin: auto;
    }
    
}